<%= bootstrap_form_for(@project) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" style="margin-top:10px;">
    <%= form.text_field :name %>
  </div>

  <div class="form-group" style="margin-top:10px;">
    <%= form.text_area :description %>
  </div>

  <div class="actions" style="margin-top:10px;">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
